body,
#app-content .body {
  font-size: unset;
}

body,
#app-content .body ul li,
#app-content .utils .title h1 a {
  line-height: unset;
}

#app-content .utils .title h1 a {
  font-size: unset;
  padding-top: unset;
}

#appmenu li a {
  width: 7ch;
}

#recommendations {
  height: unset !important;
}

#app-sidebar .app-sidebar-header__desc {
  height: unset !important;
}

/* compact tables */
#fileList tr td.selection > .selectCheckBox + label, .select-all + label,
#fileList td a a.action,
#fileList td a a.action.action-menu,
table td.filename .nametext, .modified, .column-last > span:first-child
{
  padding-top: 0;
  padding-bottom: 0;
}

.searchbox input[type="search"]:focus,
.searchbox input[type="search"]:active,
.searchbox input[type="search"]:valid {
  width: 20ch;
}

#header .header-left > nav > .menu #apps > ul li {
  position: relative;
}
#header .header-left > nav > .menu #apps > ul li a {
  height: unset;
}

#header .header-left > nav > .menu #apps > ul li a span {
  position: absolute;
  left: 3ch;
}



#contacts-list.app-content-list .app-content-list-item .app-content-list-item-line-one,
#contacts-list.app-content-list .app-content-list-item .app-content-list-item-line-two {
    font-size: 15px;
    line-height: 1.5;
}


.app-calendar .fc-today > .fc-day-number {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
}
.app-calendar .fc-day-number {
  line-height: 1.5;
  margin-right: 0.5ch;
}


#app-settings .action-checkbox {
  white-space: unset;
}
