[Unit]
Before=postgresql@11-main.service

[Mount]
What=/dev/vg.nextcloud/nc-postgresql
Where=/var/lib/postgresql/11/main

[Install]
WantedBy=multi-user.target
