[Unit]
Before=php{{ php_version }}-fpm.service nextcloud-cron.service

[Mount]
What=/dev/vg.nextcloud/nc-data
Where=/var/lib/nextcloud

[Install]
WantedBy=multi-user.target
