[Unit]
Before=postgresql@{{ postgresql_version }}-main.service

[Mount]
What=/dev/vg.nextcloud/nc-postgresql
Where=/var/lib/postgresql

[Install]
WantedBy=multi-user.target
