{{ nextcloud_vhost }} {
    root /var/www/nextcloud
    log /var/log/caddy/{{ nextcloud_vhost }}_access.log
    errors /var/log/caddy/{{ nextcloud_vhost }}_errors.log

    import ../tls-cloudflare.conf
    import ../realip-cloudflare.conf
    import ../gzip.conf

    fastcgi / /var/run/php/php{{ php_version }}-fpm.sock php

    header / {
        Strict-Transport-Security "max-age=31536000"
        # Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline'; object-src 'none'; style-src 'self' 'unsafe-inline'; img-src https: data:; media-src 'self'; frame-src 'none'; font-src data: 'self'; connect-src 'self'"
    }

    internal /data
    internal /config

    redir 301 {
        /.well-known/carddav /remote.php/dav/
        /.well-known/caldav  /remote.php/dav/
    }

    # rewrite {
    #     if {path} not_starts_with /assets
    #     if {path} not_starts_with /themes
    #     if {path} not_starts_with /data/favicons
    #     if {path} not /
    #     if {path} not ''
    #     to /
    # }
}
