{{ nextcloud_vhost }} {
    root * /var/www/nextcloud
    log {
        output file /var/log/caddy/{{ nextcloud_vhost }}.log
    }

    import ../tls-cloudflare.conf
    import ../realip-cloudflare.conf
    import ../content-encoding.conf

    php_fastcgi unix//var/run/php/php{{ php_version }}-fpm.sock

    header / {
        Strict-Transport-Security "max-age=31536000"
        # Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline'; object-src 'none'; style-src 'self' 'unsafe-inline'; img-src https: data:; media-src 'self'; frame-src 'none'; font-src data: 'self'; connect-src 'self'"
    }

    redir /.well-known/carddav to /remote.php/dav/ permanent
    redir /.well-known/caldav to /remote.php/dav/ permanent

    file_server {
        hide /data /config
    }

    # rewrite {
    #     if {path} not_starts_with /assets
    #     if {path} not_starts_with /themes
    #     if {path} not_starts_with /data/favicons
    #     if {path} not /
    #     if {path} not ''
    #     to /
    # }
}
