[Unit]
Description=Nextcloud backup job
Requires=postgresql@12-main.service

[Service]
User=backup
Group=backup
Type=oneshot
WorkingDirectory=/var/backups/nextcloud/database
ExecStart=/var/backups/nextcloud/database/backups backup nextcloud
ExecStartPost=/var/backups/nextcloud/database/backups clean nextcloud
